.sendForm {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.textarea {
    outline: none;
    padding: 12px;
    width: 800px;
    background: #F5F7FB;
    border: none;
    border-radius: 20px;
    resize: none;
}

.button {
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 120px;
    color: white;
    border: none;
    border-radius: 20px;
    background: #0066cc;
}

.button:hover {

}

.button:active {

}
